In [1]:
import os, sys, time, glob
import warnings
import re
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import pandana as pdna
pd.options.mode.chained_assignment = None
import h5py
sys.path.append(os.path.join(os.getcwd(),r'..\..\..'))
from input_configuration import base_year

%matplotlib inline

from IPython.display import display, HTML

if (sys.version_info < (3, 0)):
    HTML('''<script>
    code_show=true; 
    function code_toggle() {
     if (code_show){
     $('div.input').hide();
     } else {
     $('div.input').show();
     }
     code_show = !code_show
    } 
    $( document ).ready(code_toggle);
    </script>
    <form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [2]:
CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

# Relative path between notebooks and goruped output directories
relative_path = '../../../outputs'
survey_path = '../../../inputs/base_year/survey'

# Write out CSVs with a numeric value prefix to help organize outputs 
incr = 1

In [3]:
pd.options.display.float_format = '{:0,.0f}'.format

In [4]:
def load_network_summary(filepath):
    """Load network-level results using a standard procedure. """
    df = pd.read_csv(filepath)

    # Congested network components by time of day
    df.columns

    # Get freeflow from 20to5 period

    # Exclude trips taken on non-designated facilities (facility_type == 0)
    # These are artificial (weave lanes to connect HOV) or for non-auto uses 
    df = df[df['data3'] != 0]    # data3 represents facility_type

    # calculate total link VMT and VHT
    df['VMT'] = df['@tveh']*df['length']
    df['VHT'] = df['@tveh']*df['auto_time']/60

    # Define facility type
    df.loc[df['data3'].isin([1,2]), 'facility_type'] = 'highway'
    df.loc[df['data3'].isin([3,4,6]), 'facility_type'] = 'arterial'
    df.loc[df['data3'].isin([5]), 'facility_type'] = 'connector'

    # Calculate delay
    # Select links from overnight time of day
    delay_df = df.loc[df['tod'] == '20to5'][['ij','auto_time']]
    delay_df.rename(columns={'auto_time':'freeflow_time'}, inplace=True)

    # Merge delay field back onto network link df
    df = pd.merge(df, delay_df, on='ij', how='left')

    # Calcualte hourly delay
    df['total_delay'] = ((df['auto_time']-df['freeflow_time'])*df['@tveh'])/60    # sum of (volume)*(travtime diff from freeflow)

    df['county'] =df['@countyid'].map({33: 'King',
                                      35: 'Kitsap',
                                      53: 'Pierce',
                                      61: 'Snohomish'})
    
    return df

In [5]:
output_dir = r'..\..\..\outputs\compare\RTP\person'

# Trips per Day by Resident
Average number of trips per person by trip type. These values represent total trips divided by population.

In [6]:
pd.options.display.float_format = '{:0,.1f}'.format
df_trip = pd.read_csv(r'..\..\..\outputs\agg\dash\person_trips.csv')
df_person = pd.read_csv(r'..\..\..\outputs\agg\dash\person_geog.csv')

df_trip['is_rgc'] = 0
df_trip.loc[df_trip['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1

### County and Region

In [7]:
def trips_per_day(geog): 
    df1 = df_person.groupby(geog).sum()[['psexpfac']]
    df2 = df_trip.groupby(geog).sum()[['trexpfac']]
    df = df1.merge(df2, left_index=True, right_index=True)
    df.loc['Region', 'psexpfac'] = df_person.sum()['psexpfac']
    df.loc['Region', 'trexpfac'] = df_trip.sum()['trexpfac']
    df['Total Trips per Day'] = df['trexpfac']/df['psexpfac']

    df_trip.loc[df_trip['dpurp'] != 'Work', 'trip_type'] = 'Non-Work'
    df_trip.loc[df_trip['dpurp'] == 'Work', 'trip_type'] = 'Work'
    for purp in ['Work','Non-Work']:
        _df = df_trip[df_trip['trip_type'] == purp].groupby(geog).sum()[['trexpfac']]
        _df.rename(columns={'trexpfac': purp + ' Trips'}, inplace=True)

        # Add regional total to bottom of table
        _df.loc['Region', purp + ' Trips'] = df_trip[df_trip['trip_type'] == purp].sum()['trexpfac']
        df = df.merge(_df, left_index=True, right_index=True)

    df['Work Trips per Day'] = df['Work Trips']/df['psexpfac']
    df['Non-Work Trips per Day'] = df['Non-Work Trips']/df['psexpfac']
    df[['Work Trips per Day','Non-Work Trips per Day','Total Trips per Day']]
    
    return df[['Work Trips per Day', 'Non-Work Trips per Day','Total Trips per Day']]

In [8]:
df = trips_per_day('hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_county.csv')); incr+=1
df

           Work Trips per Day  Non-Work Trips per Day  Total Trips per Day
hh_county
King                      0.7                     3.5                  4.2
Kitsap                    0.5                     3.4                  3.9
Pierce                    0.5                     3.3                  3.8
Snohomish                 0.6                     3.4                  3.9
Region                    0.6                     3.4                  4.0

### Regional Growth Centers

In [9]:
df = trips_per_day('is_rgc')
df.index = ['Not in RGC', 'In RGC','Region']
df

            Work Trips per Day  Non-Work Trips per Day  Total Trips per Day
Not in RGC                 0.6                     3.4                  4.0
In RGC                     0.9                     3.7                  4.6
Region                     0.6                     3.4                  4.0

In [10]:
df = trips_per_day('hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_rgc.csv')); incr+=1
df

,Work Trips per Day,Non-Work Trips per Day,Total Trips per Day
hh_rgc,,,
Auburn,0.5,3.5,4.0
Ballard-Interbay,1.0,3.5,4.5
Bellevue,0.9,3.6,4.6
Bothell Canyon Park,0.8,3.2,4.0
Bremerton,0.6,3.5,4.1
Burien,0.7,3.4,4.1
Cascade,0.5,3.3,3.8
Duwamish,0.8,3.5,4.2
Everett,0.6,3.5,4.2
Frederickson,0.5,3.2,3.7
Kent,0.5,3.6,4.1
Kent MIC,0.4,3.5,3.9
Kirkland Totem Lake,0.8,3.4,4.2
Lakewood,0.4,3.1,3.5
Lynnwood,0.6,3.5,4.1
North Tukwila,0.3,3.8,4.2
Not in RGC,0.6,3.4,4.0
Paine Field / Boeing Everett,0.6,3.4,3.9
Port of Tacoma,2.0,5.5,7.5
Puyallup Downtown,0.5,3.3,3.8
Puyallup South Hill,0.5,3.4,3.9
Redmond Downtown,0.9,3.5,4.4
Redmond-Overlake,0.8,3.8,4.5
Renton,0.7,3.5,4.2
SeaTac,0.6,3.5,4.1
Seattle Downtown,1.1,3.8,4.9
Seattle First Hill/Capitol Hill,1.1,3.8,4.9
Seattle Northgate,0.7,3.5,4.2
Seattle South Lake Union,1.2,3.8,4.9
Seattle University Community,0.7,3.9,4.6
Seattle Uptown,1.1,3.7,4.8
Silverdale,0.6,3.5,4.1
Sumner Pacific,0.3,3.3,3.6
Tacoma Downtown,0.7,3.5,4.2
Tacoma Mall,0.6,3.3,4.0
Tukwila,0.9,3.1,4.0
Region,0.6,3.4,4.0

### Regional Geographies

In [11]:
df = trips_per_day('hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_reg_geog.csv')); incr+=1
df

,Work Trips per Day,Non-Work Trips per Day,Total Trips per Day
hh_rg_proposed,,,
CitiesTowns,0.5,3.4,3.9
Core,0.6,3.4,4.0
HCT,0.6,3.4,4.0
Metro,0.7,3.6,4.3
Rural,0.5,3.2,3.7
UU,0.5,3.3,3.8
Region,0.6,3.4,4.0

### Equity Geographies

In [12]:
# Summary by equity geographies
# Calculate person totals
results_df = pd.DataFrame()
trip_rate_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']

equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        val = df_person[df_person[equity_geog+geog_type] == 1].sum()['psexpfac']
        results_df.loc[equity_geog+geog_type,'psexpfac'] = val
        
# Calculate total work trips per each group
work_results_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        for purp in ['Non-Work','Work']:
            _df = df_trip[df_trip['trip_type'] == purp].groupby(equity_geog+geog_type).sum()[['trexpfac']]
            if 1 in _df.index:
                if geog_type == '_reg' or equity_geog in list_50:
                    _rate_df = pd.DataFrame([purp,
                                         equity_geog+geog_type,
                                         _df.loc[1].trexpfac/results_df.loc[equity_geog+geog_type].psexpfac]).T
                trip_rate_df = trip_rate_df.append(_rate_df) 
trip_rate_df.columns = ['Trip Type','Equity Group','Trip Rate']
df = trip_rate_df.pivot_table(columns='Trip Type', index='Equity Group', values='Trip Rate', aggfunc='sum')
df['Total Trips per Day'] = df['Non-Work'] + df['Work']
df.rename(columns={'Non-Work': 'Non-Work Trips per Day', 'Work': 'Work Trips per Day'}, inplace=True)
df = df.reset_index()
df = df.rename_axis(None, axis=1)
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_equity.csv'))
HTML(df[['Equity Group','Work Trips per Day','Non-Work Trips per Day','Total Trips per Day']].to_html(index=False))

In [13]:
# Summary by equity geographies
# Calculate person totals
results_df = pd.DataFrame()
trip_rate_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']

equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        val = df_person[df_person[equity_geog+geog_type] == 0].sum()['psexpfac']
        results_df.loc[equity_geog+geog_type,'psexpfac'] = val
        
# Calculate total work trips per each group
work_results_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        for purp in ['Non-Work','Work']:
            _df = df_trip[df_trip['trip_type'] == purp].groupby(equity_geog+geog_type).sum()[['trexpfac']]
            if 1 in _df.index:
                if geog_type == '_reg' or equity_geog in list_50:
                    _rate_df = pd.DataFrame([purp,
                                         equity_geog+geog_type,
                                         _df.loc[0].trexpfac/results_df.loc[equity_geog+geog_type].psexpfac]).T
                trip_rate_df = trip_rate_df.append(_rate_df) 
trip_rate_df.columns = ['Trip Type','Equity Group','Trip Rate']
df = trip_rate_df.pivot_table(columns='Trip Type', index='Equity Group', values='Trip Rate', aggfunc='sum')
df['Total Trips per Day'] = df['Non-Work'] + df['Work']

df.rename(columns={'Non-Work': 'Non-Work Trips per Day', 'Work': 'Work Trips per Day'}, inplace=True)
df = df.reset_index()
df = df.rename_axis(None, axis=1)
df['Equity Group'] = ['NOT in '+i for i in df['Equity Group']]
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_equity.csv'))
HTML(df[['Equity Group','Work Trips per Day','Non-Work Trips per Day','Total Trips per Day']].to_html(index=False))

# Miles Driven per Day by Resident
County, Center, Regional Geography

Youth, elderly, LEP, Race & Poverty for Region Work/Non-Work

In [14]:
pd.options.display.float_format = '{:0,.1f}'.format
df_vmt = pd.read_csv(r'..\..\..\outputs\agg\dash\person_vmt.csv')
df_vht = pd.read_csv(r'..\..\..\outputs\agg\dash\person_vht.csv')
df_person = pd.read_csv(r'..\..\..\outputs\agg\dash\person_geog.csv')

df_vmt['is_rgc'] = 0
df_vmt.loc[df_vmt['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1

# Select only drivers (dorp = 1) and auto trips
df_vmt = df_vmt[df_vmt['mode'].isin(['SOV','HOV2','HOV3+']) & (df_vmt['dorp'] == 1)]
df_vht = df_vht[df_vht['mode'].isin(['SOV','HOV2','HOV3+']) & (df_vht['dorp'] == 1)]

def vmt_per_person(df_vmt, df_person, geog):
    _df_vmt = df_vmt.groupby(geog).sum()[['travdist_wt']]
    _df_person = df_person.groupby(geog).sum()[['psexpfac']]

    df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
    df.loc['Region',:] = df.sum(axis=0)
    df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
    
    return df[['Average Miles per Person']]

### County

In [15]:
df = vmt_per_person(df_vmt, df_person, 'hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_county.csv')); incr+=1
df

           Average Miles per Person
hh_county
King                           15.8
Kitsap                         15.2
Pierce                         17.7
Snohomish                      19.8
Region                         17.0

### Regional Growth Centers

In [16]:
df = vmt_per_person(df_vmt, df_person, 'is_rgc')
df.index = ['Not in RGC', 'In RGC','Region']
df

            Average Miles per Person
Not in RGC                      17.6
In RGC                           7.1
Region                          17.0

In [17]:
df = vmt_per_person(df_vmt, df_person, 'hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_rgc.csv')); incr+=1
df

                                 Average Miles per Person
hh_rgc
Auburn                                               12.0
Ballard-Interbay                                     10.4
Bellevue                                              7.1
Bothell Canyon Park                                  20.2
Bremerton                                             5.3
Burien                                               13.9
Cascade                                              17.2
Duwamish                                             10.8
Everett                                               9.2
Frederickson                                         20.0
Kent                                                  9.5
Kent MIC                                              9.2
Kirkland Totem Lake                                  15.4
Lakewood                                              9.3
Lynnwood                                             13.0
North Tukwila                                         9.3
Not in RGC                                           17.6
Paine Field / Boeing Everett                         16.0
Port of Tacoma                                        2.2
Puyallup Downtown                                    12.3
Puyallup South Hill                                  14.4
Redmond Downtown                                     11.8
Redmond-Overlake                                     10.1
Renton                                               13.6
SeaTac                                               12.4
Seattle Downtown                                      2.7
Seattle First Hill/Capitol Hill                       4.1
Seattle Northgate                                    10.1
Seattle South Lake Union                              4.6
Seattle University Community                          6.6
Seattle Uptown                                        6.2
Silverdale                                            9.1
Sumner Pacific                                       12.1
Tacoma Downtown                                       8.3
Tacoma Mall                                          10.5
Tukwila                                               9.7
Region                                               17.0

### Regional Geography

In [18]:
df = vmt_per_person(df_vmt, df_person, 'hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_reg_geog.csv')); incr+=1
df

                Average Miles per Person
hh_rg_proposed
CitiesTowns                         21.6
Core                                16.2
HCT                                 17.3
Metro                               11.6
Rural                               26.0
UU                                  19.3
Region                              17.0

In [19]:
# vmt_per_person(df_vmt, df_person, ['hh_rg_proposed','hh_county'])

_df_vmt = df_vmt.groupby(['hh_rg_proposed','hh_county']).sum()[['travdist_wt']]
_df_person = df_person.groupby(['hh_rg_proposed','hh_county']).sum()[['psexpfac']]

df = _df_vmt.merge(_df_person, left_index=True, right_index=True)

df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_reg_geog_county.csv')); incr+=1

## Equity Geography

In [20]:
result_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = vmt_per_person(df_vmt, df_person, col)
            if 1 in df.index:
                df = df.loc[1]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df = result_df[~result_df.index.duplicated()]
df_in = result_df.copy()

result_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = vmt_per_person(df_vmt, df_person, col)
            if 0 in df.index:
                df = df.loc[0]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df = result_df[~result_df.index.duplicated()]
# result_df.index = ['NOT in '+i for i in result_df.index]


df_out = result_df.copy()

df = df_in.merge(df_out, left_index=True, right_index=True)
df.columns = ['Inside Equity Geography',  'Outside Equity Geography']
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_equity.csv')); incr+=1
df

                   Inside Equity Geography  Outside Equity Geography
source
hh_youth_reg                          18.6                      15.0
hh_elderly_reg                        17.5                      16.5
hh_english_reg                        15.6                      17.8
hh_racial_reg                         15.1                      18.5
hh_racial_50                          14.6                      17.6
hh_poverty_reg                        15.1                      18.3
hh_poverty_50                         11.6                      17.1
hh_disability_reg                     16.9                      17.0

# Time Driven per Day by Resident
This value represents total vehicle hours by residents divided by population.

In [21]:
pd.options.display.float_format = '{:0,.1f}'.format
df_vht = pd.read_csv(r'..\..\..\outputs\agg\dash\person_vht.csv')
df_person = pd.read_csv(r'..\..\..\outputs\agg\dash\person_geog.csv')

df_vht['is_rgc'] = 0
df_vht.loc[df_vht['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1

# Select only drivers (dorp = 1) and auto trips
df_vht = df_vht[df_vht['mode'].isin(['SOV','HOV2','HOV3+']) & (df_vht['dorp'] == 1)]

def vht_per_person(df_vht, df_person, geog):
    _df_vht = df_vht.groupby(geog).sum()[['travtime_wt']]
    _df_person = df_person.groupby(geog).sum()[['psexpfac']]

    df = _df_vht.merge(_df_person, left_index=True, right_index=True)
    df.loc['Region',:] = df.sum(axis=0)
    df['Average Minutes Driven per Person'] = df['travtime_wt']/df['psexpfac']
    
    return df[['Average Minutes Driven per Person']]

## County

In [22]:
df = vht_per_person(df_vht, df_person, 'hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_vht_county.csv')); incr+=1
df

           Average Minutes Driven per Person
hh_county
King                                    38.9
Kitsap                                  34.4
Pierce                                  40.3
Snohomish                               42.4
Region                                  39.6

## Regional Growth Centers

In [23]:
df = vht_per_person(df_vht, df_person, 'is_rgc')
df.index = ['Not in RGC', 'In RGC','Region']
df

            Average Minutes Driven per Person
Not in RGC                               40.7
In RGC                                   21.8
Region                                   39.6

In [24]:
df = vht_per_person(df_vht, df_person, 'hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_vht_rgc.csv')); incr+=1
df

                                 Average Minutes Driven per Person
hh_rgc
Auburn                                                        28.1
Ballard-Interbay                                              34.9
Bellevue                                                      19.6
Bothell Canyon Park                                           43.0
Bremerton                                                     19.5
Burien                                                        32.4
Cascade                                                       34.1
Duwamish                                                      35.2
Everett                                                       22.9
Frederickson                                                  44.3
Kent                                                          22.2
Kent MIC                                                      22.3
Kirkland Totem Lake                                           36.1
Lakewood                                                      24.3
Lynnwood                                                      33.2
North Tukwila                                                 25.1
Not in RGC                                                    40.7
Paine Field / Boeing Everett                                  35.4
Port of Tacoma                                                12.8
Puyallup Downtown                                             28.6
Puyallup South Hill                                           32.1
Redmond Downtown                                              27.9
Redmond-Overlake                                              25.4
Renton                                                        34.0
SeaTac                                                        32.0
Seattle Downtown                                              12.2
Seattle First Hill/Capitol Hill                               16.8
Seattle Northgate                                             28.8
Seattle South Lake Union                                      19.3
Seattle University Community                                  21.3
Seattle Uptown                                                24.8
Silverdale                                                    21.1
Sumner Pacific                                                28.4
Tacoma Downtown                                               25.6
Tacoma Mall                                                   28.4
Tukwila                                                       22.6
Region                                                        39.6

## Regional Geography

In [25]:
df = vht_per_person(df_vht, df_person, 'hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_vht_reg_geog.csv')); incr+=1
df

                Average Minutes Driven per Person
hh_rg_proposed
CitiesTowns                                  43.9
Core                                         38.1
HCT                                          40.0
Metro                                        32.8
Rural                                        53.4
UU                                           42.0
Region                                       39.6

## Equity Geography

In [26]:
result_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = vht_per_person(df_vht, df_person, col)
            if 1 in df.index:
                df = df.loc[1]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df = result_df[~result_df.index.duplicated()]
df_in = result_df.copy()

result_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = vht_per_person(df_vht, df_person, col)
            if 0 in df.index:
                df = df.loc[0]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df = result_df[~result_df.index.duplicated()]
# result_df.index = ['NOT in '+i for i in result_df.index]


df_out = result_df.copy()

df = df_in.merge(df_out, left_index=True, right_index=True)
df.columns = ['Inside Equity Geography',  'Outside Equity Geography']
df.to_csv(os.path.join(output_dir,str(incr)+'_vht_equity.csv')); incr+=1
df

                   Inside Equity Geography  Outside Equity Geography
source
hh_youth_reg                          41.5                      37.3
hh_elderly_reg                        40.8                      38.5
hh_english_reg                        37.4                      40.9
hh_racial_reg                         36.4                      42.2
hh_racial_50                          36.0                      40.5
hh_poverty_reg                        36.2                      42.0
hh_poverty_50                         29.6                      39.8
hh_disability_reg                     38.7                      40.3

# Miles Walking and Biking per Day by Resident

These numbers represent total miles spent biking and walking divided by population. These do *not* represent the average trip distances walking or biking. 

County, Center, Regional Geography

Youth, elderly, LEP, Race & Poverty for Region Work/Non-Work

In [27]:
df_vmt = pd.read_csv(r'..\..\..\outputs\agg\dash\person_vmt.csv')
df_person = pd.read_csv(r'..\..\..\outputs\agg\dash\person_geog.csv')

df_vmt['is_rgc'] = 0
df_vmt.loc[df_vmt['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1


def walk_bike_per_person(df_vmt, df_person, geog):
    
    results_df = pd.DataFrame()
    for mode in ['Walk','Bike']:
        
        _df_vmt = df_vmt[df_vmt['mode'] == mode]
        _df_vmt = _df_vmt.groupby(geog).sum()[['travdist_wt']]
        _df_person = df_person.groupby(geog).sum()[['psexpfac']]

        df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
        df.loc['Region',:] = df.sum(axis=0)
        df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
        results_df[mode] = df['Average Miles per Person']
    
    _df_vmt = df_vmt[df_vmt['mode'].isin(['Walk','Bike'])]
    _df_vmt = _df_vmt.groupby(geog).sum()[['travdist_wt']]
    _df_person = df_person.groupby(geog).sum()[['psexpfac']]

    df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
    df.loc['Region',:] = df.sum(axis=0)
    df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
    results_df['Walk and Bike'] = df['Average Miles per Person']
    
    return results_df

### County

In [28]:
df = walk_bike_per_person(df_vmt, df_person, 'hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_county.csv')); incr+=1
df

           Walk  Bike  Walk and Bike
hh_county
King        0.5   0.3            0.8
Kitsap      0.4   0.2            0.7
Pierce      0.4   0.3            0.7
Snohomish   0.4   0.3            0.7
Region      0.5   0.3            0.8

### Regional Growth Center

In [29]:
df = walk_bike_per_person(df_vmt, df_person, 'is_rgc')
df.index = ['Not in RGC', 'Inside RGC', 'Region']
df

            Walk  Bike  Walk and Bike
Not in RGC   0.4   0.3            0.7
Inside RGC   1.1   0.3            1.4
Region       0.5   0.3            0.8

In [30]:
df = walk_bike_per_person(df_vmt, df_person, 'hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_rgc.csv'))
df

                                 Walk  Bike  Walk and Bike
hh_rgc
Auburn                            0.6   0.4            1.0
Ballard-Interbay                  0.7   0.5            1.3
Bellevue                          1.0   0.3            1.2
Bothell Canyon Park               0.4   0.5            1.0
Bremerton                         0.8   0.3            1.1
Burien                            0.5   0.4            0.9
Cascade                           0.4   0.2            0.7
Duwamish                          0.8   0.2            1.0
Everett                           0.8   0.3            1.1
Frederickson                      0.3   0.4            0.7
Kent                              0.6   0.6            1.2
Kent MIC                          0.7   0.7            1.4
Kirkland Totem Lake               0.5   0.4            0.9
Lakewood                          0.5   0.3            0.8
Lynnwood                          0.6   0.4            1.0
North Tukwila                     0.6   NaN            0.6
Not in RGC                        0.4   0.3            0.7
Paine Field / Boeing Everett      0.5   0.3            0.8
Port of Tacoma                    0.9   NaN            0.9
Puyallup Downtown                 0.6   0.3            0.9
Puyallup South Hill               0.5   0.4            0.9
Redmond Downtown                  0.8   0.4            1.2
Redmond-Overlake                  0.7   0.5            1.2
Renton                            0.6   0.4            1.0
SeaTac                            0.5   0.3            0.8
Seattle Downtown                  1.5   0.2            1.7
Seattle First Hill/Capitol Hill   1.5   0.3            1.8
Seattle Northgate                 0.8   0.5            1.3
Seattle South Lake Union          1.4   0.3            1.6
Seattle University Community      1.3   0.6            1.8
Seattle Uptown                    1.3   0.3            1.6
Silverdale                        0.7   0.2            0.9
Sumner Pacific                    0.5   NaN            0.5
Tacoma Downtown                   0.9   0.4            1.3
Tacoma Mall                       0.7   0.3            1.0
Tukwila                           0.7   0.4            1.1
Region                            0.5   0.3            0.8

### Regional Geography

In [31]:
df = walk_bike_per_person(df_vmt, df_person, 'hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_reg_geog.csv')); incr+=1
df

                Walk  Bike  Walk and Bike
hh_rg_proposed
CitiesTowns      0.4   0.2            0.6
Core             0.4   0.3            0.7
HCT              0.4   0.3            0.7
Metro            0.7   0.3            1.0
Rural            0.3   0.3            0.6
UU               0.4   0.2            0.6
Region           0.5   0.3            0.8

### Equity Geographies

In [32]:
result_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = walk_bike_per_person(df_vmt, df_person, col)
            if 1 in df.index:
                df = df.loc[1]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_equity.csv')); incr+=1
result_df

                   Bike  Walk  Walk and Bike
source
hh_youth_reg        0.3   0.4            0.7
hh_elderly_reg      0.3   0.4            0.7
hh_english_reg      0.3   0.5            0.8
hh_racial_reg       0.3   0.5            0.8
hh_racial_50        0.3   0.5            0.8
hh_poverty_reg      0.3   0.5            0.8
hh_poverty_50       0.3   0.6            0.9
hh_disability_reg   0.3   0.5            0.7

In [33]:
result_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = walk_bike_per_person(df_vmt, df_person, col)
            if 0 in df.index:
                df = df.loc[0]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df.index = ['NOT in '+i for i in result_df.index]
result_df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_equity_inverse.csv')); incr+=1
result_df

                          Bike  Walk  Walk and Bike
NOT in hh_youth_reg        0.3   0.6            0.9
NOT in hh_elderly_reg      0.3   0.5            0.8
NOT in hh_english_reg      0.3   0.5            0.7
NOT in hh_racial_reg       0.3   0.4            0.7
NOT in hh_racial_50        0.3   0.5            0.7
NOT in hh_poverty_reg      0.3   0.5            0.7
NOT in hh_poverty_50       0.3   0.5            0.8
NOT in hh_disability_reg   0.3   0.5            0.8

# Time Walking and Biking per Day by Resident

These numbers represent total times spent biking and walking divided by population. These do *not* represent the average trip times walking or biking. 

County, Center, Regional Geography

Youth, elderly, LEP, Race & Poverty for Region Work/Non-Work

### County

In [34]:
pd.options.display.float_format = '{:0,.1f}'.format
df_vht = pd.read_csv(r'..\..\..\outputs\agg\dash\person_vht.csv')
df_person = pd.read_csv(r'..\..\..\outputs\agg\dash\person_geog.csv')

df_vht['is_rgc'] = 0
df_vht.loc[df_vht['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1



def walk_bike_per_person_time(df_vmt, df_person, geog):
    
    results_df = pd.DataFrame()
    for mode in ['Walk','Bike']:
        
        _df_vmt = df_vmt[df_vmt['mode'] == mode]
        _df_vmt = _df_vmt.groupby(geog).sum()[['travtime_wt']]
        _df_person = df_person.groupby(geog).sum()[['psexpfac']]

        df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
        df.loc['Region',:] = df.sum(axis=0)
        df['Average Miles per Person'] = df['travtime_wt']/df['psexpfac']
        results_df[mode] = df['Average Miles per Person']
    
    _df_vmt = df_vmt[df_vmt['mode'].isin(['Walk','Bike'])]
    _df_vmt = _df_vmt.groupby(geog).sum()[['travtime_wt']]
    _df_person = df_person.groupby(geog).sum()[['psexpfac']]

    df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
    df.loc['Region',:] = df.sum(axis=0)
    df['Average Miles per Person'] = df['travtime_wt']/df['psexpfac']
    results_df['Walk and Bike'] = df['Average Miles per Person']
    
    return results_df

df = walk_bike_per_person_time(df_vht, df_person, 'hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_minutes_bikewalk_county.csv')); incr+=1
df

           Walk  Bike  Walk and Bike
hh_county
King       10.8   2.0           12.8
Kitsap      8.8   1.5           10.3
Pierce      8.2   1.8           10.0
Snohomish   7.9   1.7            9.6
Region      9.6   1.9           11.4

### Regional Growth Center

In [35]:
df = walk_bike_per_person_time(df_vht, df_person, 'is_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_minutes_bikewalk_rgc_binary.csv')); incr+=1
df

        Walk  Bike  Walk and Bike
is_rgc
0        8.8   1.8           10.6
1       22.3   2.2           24.5
Region   9.6   1.9           11.4

In [36]:
df = walk_bike_per_person_time(df_vht, df_person, 'hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_minutes_bikewalk_rgc.csv')); incr+=1
df

                                 Walk  Bike  Walk and Bike
hh_rgc
Auburn                           12.2   2.7           14.9
Ballard-Interbay                 14.9   3.5           18.4
Bellevue                         19.5   1.7           21.3
Bothell Canyon Park               8.6   3.6           12.2
Bremerton                        16.2   1.7           17.9
Burien                            9.3   2.8           12.1
Cascade                           8.7   1.5           10.3
Duwamish                         16.2   1.1           17.3
Everett                          15.2   2.3           17.5
Frederickson                      6.7   2.4            9.1
Kent                             12.0   4.2           16.2
Kent MIC                         14.4   4.8           19.1
Kirkland Totem Lake              10.8   2.4           13.2
Lakewood                          9.8   1.9           11.7
Lynnwood                         11.7   2.6           14.3
North Tukwila                    11.7   NaN           11.7
Not in RGC                        8.8   1.8           10.6
Paine Field / Boeing Everett      9.6   1.9           11.4
Port of Tacoma                   17.3   NaN           17.3
Puyallup Downtown                11.3   2.3           13.6
Puyallup South Hill              10.1   2.7           12.8
Redmond Downtown                 15.7   2.6           18.3
Redmond-Overlake                 14.9   3.1           18.0
Renton                           11.9   2.9           14.8
SeaTac                            9.6   2.2           11.9
Seattle Downtown                 29.6   1.4           31.0
Seattle First Hill/Capitol Hill  30.2   1.8           32.0
Seattle Northgate                15.1   3.4           18.5
Seattle South Lake Union         27.3   1.9           29.1
Seattle University Community     25.6   3.8           29.4
Seattle Uptown                   25.8   2.3           28.1
Silverdale                       13.7   1.1           14.8
Sumner Pacific                    9.8   NaN            9.8
Tacoma Downtown                  18.5   2.7           21.2
Tacoma Mall                      13.4   2.0           15.4
Tukwila                          14.3   2.4           16.7
Region                            9.6   1.9           11.4

### Regional Geography

In [37]:
df = walk_bike_per_person_time(df_vht, df_person, 'hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_minutes_bikewalk_rg.csv')); incr+=1
df

                Walk  Bike  Walk and Bike
hh_rg_proposed
CitiesTowns      7.5   1.6            9.1
Core             8.8   1.9           10.7
HCT              8.2   1.7           10.0
Metro           14.0   2.0           16.0
Rural            5.1   2.1            7.2
UU               7.2   1.6            8.9
Region           9.6   1.9           11.4

### Equity Geography

In [38]:
result_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = walk_bike_per_person_time(df_vht, df_person, col)
            if 1 in df.index:
                df = df.loc[1]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df.to_csv(os.path.join(output_dir,str(incr)+'_minutes_bikewalk_equity.csv')); incr+=1
result_df

                   Bike  Walk  Walk and Bike
source
hh_youth_reg        1.8   8.0            9.8
hh_elderly_reg      1.9   8.9           10.8
hh_english_reg      1.9   9.7           11.6
hh_racial_reg       1.9  10.3           12.2
hh_racial_50        2.0  10.1           12.1
hh_poverty_reg      2.0  10.3           12.2
hh_poverty_50       2.3  11.8           14.2
hh_disability_reg   1.9   9.4           11.3

In [39]:
result_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = walk_bike_per_person_time(df_vht, df_person, col)
            if 0 in df.index:
                df = df.loc[0]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df.index = ['NOT in '+i for i in result_df.index]
result_df.to_csv(os.path.join(output_dir,str(incr)+'_minutes_bikewalk_equity_inverse.csv')); incr+=1
result_df

                          Bike  Walk  Walk and Bike
NOT in hh_youth_reg        2.0  11.4           13.4
NOT in hh_elderly_reg      1.9  10.1           12.0
NOT in hh_english_reg      1.8   9.5           11.3
NOT in hh_racial_reg       1.8   9.0           10.8
NOT in hh_racial_50        1.8   9.4           11.3
NOT in hh_poverty_reg      1.8   9.1           10.9
NOT in hh_poverty_50       1.9   9.5           11.4
NOT in hh_disability_reg   1.9   9.7           11.6